.header {
    z-index: 9999999;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background: #A7A7B1;
    width: 100vw;
    padding: 0 25px;
    min-height: 80px;
    @media (min-width: 375px) {
        height: 50px;
        flex-direction: row;
    }

    .title {
        h3 {
            padding: 0;
        }

        justify-content: flex-start;
    }
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    @media (min-width: 375px) {
        flex-direction: row;
    }

    & a {
        text-transform: uppercase;
    }
}
