.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    width: 100vw;
    box-sizing: border-box;
    padding: 50px;
    min-height: 75vh;
    z-index: 1;
    font-size: 1rem;
    color: #F9F9F9;

    &__text {
        align-self: center;
        font-weight: 400;
        font-size: 1.25rem;
        // color: #f4e9ad;
        color: #f7e57d;
        text-align: center;
        padding: 15px;
        min-height: 75vh;
    }

    &__married {
        font-size: 1.5em;
        text-transform: uppercase;
    }

    &__background {
        position: absolute;
        width: 100%;
        min-height: 100%;
        top: 0;
        left: 0;
        background: #FBE35C;
        background-image: url(../images/R&M-114.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
        filter: grayscale(0.35);
        z-index: -1;
    }
}
