.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px; }
  .section__title {
    position: relative;
    font-size: 3em; }
    .section__title:after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: -50%;
      width: 200%;
      height: 1px;
      background: black; }
  .section__content {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    line-height: 1.5rem;
    font-size: 1.25em; }
    .section__content a {
      color: #A5C2D0;
      text-decoration: underline; }
      .section__content a:focus, .section__content a:active {
        color: shade(#A5C2D0, 75%); }
    .section__content dt, .section__content dd, .section__content li {
      padding: 0.5rem; }
